body {
    background-image: url(./img/fondoladrillos.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADER */
header {
    color: whitesmoke;
    margin: 30px;
    font-size: 21px;
    font-family: "Arial", sans-serif;
    color: #fff;
    letter-spacing: 4px;
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px#00ffff, 0 0 60px;
}

/* INDEX */
.pizarra {
    background-image: url(./img/fondopizarra.jpeg);
    width: 500px;
    height: 500px;
    border-radius: 20px;
    outline: 6px solid white;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff, 0 0 60px #00ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.opciones {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 10px #00ffff;
}

.titulos {
    font-size: 3rem;
}

.links {
    text-decoration: none;
}

.onePlayer {
    color: #ffcc00;
}

.twoPlayer {
    color: #ffcc00;
}

/* ALL */

/* Back */
.backDiv {
    position: absolute;
    left: 21%;
    top: 50%;
    background-color: #111;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #00ffff;
    box-shadow: 0 0 10px #00ffff;
    text-align: center;
}

.back {
    color: #00ffff;
    text-decoration: none;
}

.back:hover {
    color: #fff;
}


/* Start */
.startDiv {
    position: absolute;
    left: 75%;
    top: 50%;
    background-color: #111;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #00ffff;
    box-shadow: 0 0 10px #00ffff;
}

.start {
    color: #00ffff;
    text-decoration: none;
}

.start:hover {
    color: #fff;
}


/* One Player & Two Players */

.pizarra1 {
    background-image: url(./img/fondopizarra.jpeg);
    width: 500px;
    height: 500px;
    border-radius: 20px;
    outline: 6px solid white;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff, 0 0 60px #00ffff;
    color: white;
}

.info {
    color: white;
    text-shadow: 0 0 10px #00ffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px;
    text-align: center;
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.label {
    margin-top: 10px;
}


.firstMove {
    margin-top: 60px;
}

.pieces {
    margin-top: 40px;
}

/* GAME */
.pizarra3 {
    background-image: url(./img/fondopizarra.jpeg);
    width: 500px;
    height: 500px;
    border-radius: 20px;
    outline: 6px solid white;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff, 0 0 60px #00ffff;
    display: flex;
    flex-direction: column;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.casilla {
    outline: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}